.header {
  padding: 0.2em;
  background-color: #30363b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  width: 3em;
  height: 3em;
}

.header-tour-label {
  color: white;
}

.header-of-label {
  color: #9caab5;
}

.header-hero-label {
  color: #3bb6db;
}

.header-labels {
  display: flex;
  justify-content: flex-start;
  padding: 0.1em 0.5em;
  font-weight: 500;
}

.header-logo-group {
  display: flex;
  align-content: center;
}

.header-links {
  margin-right: 1em;
}

.header-links-git {
  color: white;
  width: 30px;
  height: 30px;
}

.header-links-git:hover {
  color: #3bb6db;
}
