.hero-card {
  background-color: #f5f6f7;
  border: 1px solid #ebeced;
  padding-top: 2em;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 8px 6px -6px #b2b5b8;
  -moz-box-shadow: 0 8px 6px -6px #b2b5b8;
  box-shadow: 0 8px 6px -6px #b2b5b8;
}

.hero-title {
  font-size: x-large;
}

.hero-description {
  margin-top: 10px;
  font-weight: 100;
  font-size: medium;
  color: #9caab5;
}

.hero-title-group {
  padding-left: 2em;
}

.hero-button-group {
  display: flex;
  margin-top: 20px;
}

.hero-button {
  display: flex;
  background-color: white;
  flex-grow: 1;
  width: 350px;
  border: 1px solid #ebeced;
  padding: 0.9em;
  justify-content: center;
}

.hero-button:hover {
  cursor: pointer;
}

.hero-button:hover > #hero-delete {
  color: #3bb6db;
}

.hero-button:hover > #hero-delete-image {
  color: #3bb6db;
}

.hero-button:hover > #hero-edit {
  color: #3bb6db;
}

.hero-button:hover > #hero-edit-image {
  color: #3bb6db;
}

.hero-button-title {
  font-weight: 100;
  font-size: medium;
  color: #9caab5;
  margin-left: 10px;
}
